@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body{
    background-color: #875b49;
    overflow-x: hidden !important; 
    width: 100vw;
    height: 100vh;
}

/*Ítens do Navbar*/

a:hover{
    background-color: rgb(170, 83, 25);
    color: antiquewhite;
    border-radius: 10px;
    transition: transform .5s ease-in;
    transition: all 0.1s ease-in;
}
a{
    border-radius:10px ;
}

/*Navbar*/

.navbar{
    background-color: rgb(131, 53, 2);
    box-shadow: 1px 7px 30px rgb(48, 21, 0);
}

div#fundo{
    background-color: #875b49;
    height: 100vh;
    width: 100vw;
    display: block;
}

div#preço-pizza{
    background-color: #875b49;
    margin-top: 40px;
    padding: 20px;
}

h1#nome-pizza{
    background-color: #875b49;
    font-size: 80px;
}

p#descrição{
    font-size: 30px;
}

h5#calorias{
    font-size: 40px;
}

h1#preço-pizza{
    background-color: #875b49;
    font-size: 60px;
}

#imagem-pizza{
    background-color: #875b49;
    margin: 0%;
}

img#pizza{
    background-color: #875b49;
    margin: 0%;
}

div#pizza{
    background-color: #875b49;
    padding: 70px;
}

div#informações{
    background-color: #875b49;
    padding: 60px;
    width: 50%;
    
}

@media screen and (max-width: 869px) {
    div#itens-pedido{
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0%;
        background-color: #875b49;
    
    }
    div#pizza{
        width: 100vw;
        margin-top: 10px;
        padding: 10px;
        background-color: #875b49;
    }
    img#pizza{
        background-color: #875b49;
        width: 100vw;
        
    }
    div#preço-pizza{
        width: 100vw;
        height: 100vh;
        background-color: #875b49;
    }
    div#fundo{
        width: 100%;
        background-color: #875b49;
        height: 100vh;
        padding: 0%;
    }
    div#botoes{
        width: 100%;
        flex-direction: row;
    }
    h1#nome-pizza{
        font-size: 50px;
    }
}

@media screen and (max-width: 767px){
    #botoes{
        display: block;
    }
    
}
@media screen and (max-width: 384) {
    div#botoes{
        flex-direction: column;
        width: 100%;
        padding-left: 10px;
        align-items: center;
        padding: 0%;
        margin: 0%;
    }
    #botão-comprar{
        margin-left: 30px;
    }
    
}

#botão-comprar{
    color:aliceblue;
    background-color: rgb(82, 16, 16);
    border: none;
    width: 250px;
    height: 80px;
    border-radius: 15px;
    margin: 10px;
    margin-right: 70px;
    margin-left: 40px;
    font-size: x-large;
}

#botão-personalize{
    color: aliceblue;
    background-color: #875b49;
    border: none;
    margin: 10px;
    width: 250px;
    height: 80px;
    border-radius: 15px;
    margin: 10px;
    font-size: x-large;
}

#botão-personalize:hover{
    color: aliceblue;
    background-color: rgb(82, 16, 16);
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 80px;
    border-radius: 15px;
    margin: 10px;
    transition: transform .5s ease-in;
    transition: all 0.1s ease-in;
}

#botoes{
    margin-top: 20px;
}

.rodape{

        background: rgb(131, 53, 2);
        min-height: 100px;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70px;
        width: 100%;
        height: 100px;
        bottom: 0;
        left: 0;
      }


.textorodape{

    color: white;

}

.icongit{

    width: 40px;

    cursor: pointer;

}

.copyright{

    color: rgba(207, 207, 207, 0.877);

   

}

.icongit:hover{

    transform: scale(1.3);

    transition: 0.5s ;

}