
.body{
    background-color: rgb(78, 31, 0);
}


a:hover{
    background-color: rgb(170, 83, 25);
    color: antiquewhite;
    border-radius: 10px;
    transition: transform .5s ease-in;
    transition: all 0.1s ease-in;
}
a{
    border-radius:10px ;
}
.navbar{
    background-color: rgb(131, 53, 2);
    box-shadow: 1px 7px 30px rgb(48, 21, 0);
}

.imagem{
    background-position: center;
    width: 100%;
    border: black;
}

.title{
    font-weight: 700;
    text-align: center;
    font-size: 3.05em;
    font-family: "Euclid"!important;
    padding-top: 15px;
}

p{
    text-align: justify;
    font-size: 16.8px;
    text-indent: 22px;
}



